hipe_compile = true
cluster_partition_handling = autoheal

cluster_formation.peer_discovery_backend = rabbit_peer_discovery_classic_config
{% for host in groups['controllers'] %}
cluster_formation.classic_config.nodes.{{ loop.index0 }} = rabbit@{{ hostvars[host]['ansible_hostname'] }}
{% endfor %}
